header {
  height: 125px;
  line-height: 125px;
}

h1 {
  margin: 0;
}

footer {
  height: 75px;
  line-height: 75px;
  margin-bottom: 0%;
}

body, html {
  height: 100%;
  margin: auto;
  padding: 0;
  width: 480px;
}

*{
  box-sizing: border-box;
}

@media(min-width: 960px) {
  body, html {
    height: 100%;
    margin: auto;
    padding:0;
    width: 960px;
  }
}